h1 {
    text-align: center;
    font-size: 2rem;
}


#update {
    text-align: center;
}

#update a {
    color: white;
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 1rem;
    background-color: orange;
}

#update a:hover {
    color: #007bff; /* Change color on hover */
    font-weight: bolder;
    background-color: rgb(245, 214, 155);
}
