h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

p {
    font-size: 1.9rem;
    text-align: center;
}

#intro, #whatCounts {
    background-color: orange;
    width: fit-content;
}

#links {
    display: flex; 
    gap: 70px; /* Adjust the gap between nav items */
    justify-content: center; /* Align nav items to the right */
    align-items: center
}

#connect_strava a {
    background-color: white;
    padding: 0%;
}

#links a {
    color: white;
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 1rem;
    background-color: orange;
}

#links a:hover, #email a:hover {
    color: #007bff; /* Change color on hover */
    font-weight: bolder;
    background-color: rgb(245, 214, 155);
}

.strava-link, .yt-link {
    color: darkorange;
    text-decoration: none;
}

.strava-link:hover, .yt-link:hover {
    color: #007bff; /* Change color on hover */
    font-weight: bolder;
}
