@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@400;500&family=Ubuntu:wght@300;500&display=swap');


html {
    font-family: 'Roboto Condensed', sans-serif;
    }


body {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 95%;
    align-items: center;
    }

header {
    background-color: rgb(255, 255, 255); /* Adjust the background color as needed */
    background-image: url('StravaChallengesApp/images/background.jpg');
    background-position: center;
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 65px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.295); /* Add a shadow: offsetX offsetY blurRadius color */
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 10px;
}

header a {
    font-size: 2.2rem;
}

#logo img{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* Add a shadow: offsetX offsetY blurRadius color */
    position: flex;
    top: 0;
    height: 80px;
    margin: auto;
}

.right-nav {
    display: flex; 
    gap: 60px; /* Adjust the gap between nav items */
    justify-content: flex-end; /* Align nav items to the right */
    padding-right: 2rem;
    align-items: center;
}

.right-nav a {
    color: rgb(231, 213, 192);
    text-shadow:2px 2px 4px orange;
    font-size: 3rem;    
}

header nav a {
    text-decoration: none; /* Remove underlines */
    color: #333; /* Set the default color */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

header nav a:hover {
    color: #007bff; /* Change color on hover */
    font-weight: bolder;
}



.pwd_by_Strava {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

